@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Microsoft YaHei";
  src: local("Microsoft YaHei");
  unicode-range: U+2E80-2EFF, U+3400-4DBF, U+4E00-9FBF, U+F900-FAFF, U+20000-2A6DF, U+2F800-2FA1F;
}

* {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

td {
  padding: 4px;
  text-align: center;
  border: 1px solid;
  border-color: #ddd;
}

.navbar-burger,
.navbar-burger span {
  transition: all 400ms;
  box-sizing: border-box;
}

.navbar-burger.active span {
  transition: all 400ms;
  box-sizing: border-box;
  background-color: snow;
}

.navbar-burger.active span:nth-of-type(1) {
  -webkit-transform: translateY(0) rotate (-45deg);
  transform: translateY(8px) rotate(-45deg);
}

.navbar-burger.active span:nth-of-type(2) {
  opacity: 0;
}

.navbar-burger.active span:nth-of-type(3) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.navbar.active {
  position: fixed;
}

@media (max-width: 960px) {
  .navbar-main {
    display: none;
  }
}

@media (min-width: 960px) {
  .navbar.active {
    position: relative;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-burger.active {
    display: none;
  }
  .navbar-menu {
    display: none;
  }
}

.spread-underline {
  position: relative;
  text-align: center;
  width: 80px;
}

.spread-underline:hover {
  color: #16a34a;
  scale: 110%;
}

.spread-underline:after {
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  background: #16a34a;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}

.draw-underline {
  position: relative;
}

.draw-underline:after {
  bottom: -4px;
  content: "";
  height: 1px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.draw-underline:hover:after {
  width: 100%;
}
