@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, "Microsoft YaHei", sans-serif;
  transition: all;
}

.spread-underline {
  display: inline-block;
  position: relative;
  text-align: center;
}

.spread-underline:after {
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}
