@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, "Microsoft YaHei", sans-serif;
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

td {
  padding: 0 4px;
  text-align: center;
  border: 1px solid;
  border-color: #ddd;
}

.spread-underline {
  display: inline-block;
  position: relative;
  text-align: center;
}

.spread-underline:after {
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}
